:root {
  --mobile-menu-icon-size: 2rem;
  --mobile-menu-radius: calc(var(--mobile-menu-icon-size) / 2);
  --mobile-menu-text-size: 1rem;
}

* {
  font: inherit;
}

#mobileMenu {
  bottom: 5vmin;
  display: flex;
  flex-direction: column;
  font-size: 0;
  height: 40vh;
  justify-content: space-between;
  left: 5vmin;
  padding: 0;
  position: fixed;
}

#mobileMenu a {
  align-items: center;
  background-color: #bfbfbf;
  border-radius: var(--mobile-menu-radius);
  color: #373737;
  display: flex;
  text-decoration: none;
}

#mobileMenu a:hover {
  gap: calc(var(--mobile-menu-text-size) / 2);
  padding-right: var(--mobile-menu-text-size);
}

#mobileMenu img {
  background-color: aquamarine;
  border-radius: 50%;
  height: var(--mobile-menu-icon-size);
  width: auto;
}

#mobileMenu li {
  display: flex;
  width: fit-content;
}

#mobileMenu li:hover {
  font-size: var(--mobile-menu-text-size);
}

#mobileMenuToggle {
  background-color: #ff6600ff;
  border-radius: 50%;
  bottom: 5vmin;
  height: var(--mobile-menu-icon-size);
  position: fixed;
  right: 5vmin;
  width: auto;
}