* {
  margin: 0;
  padding: 0;
}

#imageSlider {
  align-items: center;
  display: flex;
  gap: 1vw;
  height: auto;
  margin: 5vh auto;
  padding: 0;
  width: 90vw;
}

#imageSlider div {
  position: relative;
}

#imageSlider img {
  aspect-ratio: 1 / 1;
  display: none;
  flex: 1 1 80vw;
  height: auto;
  object-fit: cover;
  position: relative;
}

#imageSlider #imgMain img {
  display: block;
  height: auto;
  width: max(45vw, 200px);

}

#imageSlider #imgNext img,
#imageSlider #imgPrevious img {
  display: block;
  height: auto;
  opacity: 40%;
  position: relative;
  width: max(20vw, 100px);
  z-index: 1;
}

#imageSlider #imgNext:hover img,
#imageSlider #imgPrevious:hover img {
  opacity: 70%;
}

#imageSlider span {
  left: 40%;
  position: relative;
}

#imgNext span::before {
  content: url(../src/images/arrow_forward.svg);
}

#imgPrevious span::before {
  content: url(../src/images/arrow_back.svg);
}

#imgNext span::before,
#imgPrevious span::before {
  bottom: 250%;
  height: auto;
  left: 45%;
  position: absolute;
  width: max(5vw, 20px);
  z-index: 2;
}

#imgNext:hover span::before,
#imgPrevious:hover span::before {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
